html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}

h6 {
  font-size: .7rem;
}

p {
  margin-bottom: $text-bottom-margin;
}

ul,
ol {
  margin-bottom: $text-bottom-margin;
  padding-left: 0;

  ul,
  ol {
    margin-bottom: 0;
    margin-left: $text-left-margin;
  }
}

ul li {
  list-style: disc inside;
}

ol li {
  list-style: decimal inside;
}

blockquote {
  font-style: italic;
  margin: 0 $text-left-margin;
}

pre {
  font-size: .8rem;
  line-height: 1.3;
  margin-left: $text-left-margin;
  overflow-x: auto;
  white-space: pre-wrap;
}

p code,
li code,
td code {
  color: $code-red;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

table {
  border-spacing: 0;
  width: 100%;

  td,
  th {
    border-bottom: 1px solid $grey;
    min-width: 80px;
    padding: 5px;
  }
}
