!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.keywords,
                description: current_page.data.description,
                canonical: current_article.url })
  %body
    = partial('top')

    .page
      .grid
        %article.news-article
          %header
            %h1= current_article.title
            = partial('news_meta', locals: { article: current_article })
          = yield

        = partial('sidebar')

    = partial('footer')
